.container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-rows: 40px 1fr 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}
.navBar {
  background-color: red;
  grid-row: 1/2;
  grid-column: 1/5;
}
.left {
  background-color: blue;
  grid-row: 2/3;
  grid-column: 1/2;
}
.main {
  background-color: orange;
  grid-row: 2/3;
  grid-column: 2/4;
}
.right {
  background-color: gray;
  grid-row: 2/3;
  grid-column: 4/5;
}
.status {
  background-color: aqua;
  grid-row: 3/4;
  grid-column: 1/3;
}
.notif {
  background-color: purple;
  grid-row: 3/4;
  grid-column: 3/5;
}
.panels {
  height: 100%;
}
body {
  margin: 0;
}
